<div class="container">
  <div class="row justify-content-around">
    <h1>CREATE <br> YOUR OWN <br>🍸🍹🍷's <br> HERE ➡</h1>      
        <div>
          <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name, label: 'What is the cocktail name', error: 'Username is mandatory, please specify one', placeholder: 'e.g. KeyWestCooler' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
  </div>

      <div class="d-flex justify-content-center mt-5 pr-5">
        <%= link_to cocktails_path do %>
        <h1> ⬅⬅⬅⬅⬅⬅ </h1>  
        <h5> Or go back to home page  </h5>
        <% end %>
      </div>

</div>
